<%- include('../partials/header.ejs')%>
<h3>Request By You:</h3>
<div class='album py-5'>
    <div class="container font-type  overflow-auto">
        <div class="card-deck mb-3 ">
            <div class="card mb-4 shadow-sm">
                <% if(myOffers.length){ %>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="heading">Requested Trade</th>
                            <th scope="col" class="heading">Exchange With</th>
                            <th scope="col" class="heading">Request To</th>
                            <th scope="col" class="heading">Status</th>
                            <th scope="col" class="heading">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% myOffers.forEach((offer)=>{ %>
                            <% if(offer.status === 'open' || offer.status === 'pending'){ %>
                            <tr>
                                <th> <img class="bd-placeholder-img card-img-top" width="100"
                                    height="225" src="/images/<%= offer.requestedArt.image%>" alt="painting_<%=
                                    offer.requestedArt._id %>"></th>
                                <th> <img class="bd-placeholder-img card-img-top" width="100"
                                        height="225" src="/images/<%= offer.exchangeArt.image%>" alt="painting_<%=
                                        offer.exchangeArt._id %>"></th>
                                <th><span class="text-uppercase text-muted font-theme-color"><%= offer.requestTo.firstName +" " + offer.requestTo.lastName %></span></th>
                                <th><span class="text-uppercase text-muted font-theme-color"><%= offer.status %></span></th>
                                
                                    <th>
                                        <form>
                                            <button class="btn btn-outline-primary fa fa-trash" type ="submit"  formmethod ="POST"  formaction ="/tradeRequest/deleteTradeRequest/<%= offer._id %>">Cancel Request</button> 
                                        </form>
                                    </th>
                                <% } %>
                                
                            <tr>    
                        <%}) %>
                        </tbody>
                    </table>    
                <%}else{%>
                        <p class="heading">You haven't done any offer</p>
                <%}%>
            </div>
        </div>
    </div>
</div>        